@use 'base' as *;
@use 'variables' as *;
@use 'mixins' as *;

*{
    box-sizing: border-box;
}


body{
    background-color: $whitewhite;
    height: 100vh;
    font-family: $mainFont;
    background-size: cover;
}

header{
    justify-content: center;
    align-items: center;
}

.logo {
    justify-content: center;
    align-items: center;   
}

nav{
    position:fixed;
}

main{
    display:flex;

    h1 {
        color: $whitewhite;
      }

      h2 {
        color: $whitewhite;
      }

      h3 {
        color: $whitewhite;
      }
    }
    

    #welcome-banner {
        color: $whitewhite;
        @include flexbox(column, nowrap, 1rem);
        @include box(200px, auto, 3rem, 20px);

        header{
            background-image: url('https://picsum.photos/1200/1200');
        }
    }

    #categories {
        color: $whitewhite;
        @include flexbox(column, nowrap, 1rem);
        @include box(200px, auto, 3rem, 20px);
        @extend .scroll-container;
    }

        #el {
            @include box(200px, auto, 1rem, 10px);
            @extend .scroll-container;
            background-color:$whitewhite;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: scroll;
        }

        #fashion{
            @include box(200px, auto, 1rem, 10px);
            @extend .scroll-container;
            background-color:$whitewhite;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: scroll;
        }

        #home{
            @include box(200px, auto, 1rem, 10px);
            @extend .scroll-container;
            background-color:$whitewhite;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: scroll;
        }
        
        #news{
            @include box(200px, auto, 1rem, 10px);
            @extend .scroll-container;
            background-color:$whitewhite;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: scroll;
        }

        #popular {
            @include box(200px, auto, 1rem, 10px);
            background-color:$whitewhite;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: scroll;
        }
    

        .scroll-container {
            background-color: $whitewhite;
            @include flexbox(column, nowrap, 1rem);
            @include box(200px, auto, 3rem, 20px);
            @extend .scroll-container;
            display: flex !important;
    }